# Get Summary Statistics Using Pandas describe() Method

In [76]:
import pandas as pd
import numpy as np
import os

### Load the Dataset

In [77]:
filename = os.path.join(os.getcwd(), "..", "..", "data", "censusData.csv")
df = pd.read_csv(filename, header=0)

### Glance at the Dataset

In [78]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,income
0,36,State-gov,112074,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Non-Female,0,0,45,United-States,<=50K
1,35,Private,32528,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Non-Female,0,0,45,United-States,<=50K
2,21,Private,270043,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,16,United-States,<=50K
3,45,Private,168837,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,24,Canada,>50K
4,39,Private,297449,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,0,0,40,United-States,>50K

### Get the Dimensions of the Dataset

In [79]:
df.shape

(7000, 15)

## Step 1: Compute Summary Statistics Using Pandas `describe()` Method

In [80]:
df_summ = df.describe()
df_summ

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7000.000000,7.000000e+03,7000.000000,7000.000000,7000.000000,7000.000000
mean,38.596714,1.924335e+05,10.049857,1079.000429,84.970286,40.107143
std,13.745594,1.063365e+05,2.580982,7011.160679,400.142351,12.323946
min,17.000000,1.882700e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.202478e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.821170e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.402370e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.268339e+06,16.000000,99999.000000,4356.000000,99.000000

In [81]:
df_summ_all = df.describe(include = 'all')
df_summ_all

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex_selfID,capital-gain,capital-loss,hours-per-week,native-country,income
count,7000.000000,6625,7.000000e+03,7000,7000.000000,7000,6625,7000,7000,7000,7000.000000,7000.000000,7000.000000,6862,7000
unique,NaN,7,NaN,16,NaN,7,14,6,5,2,NaN,NaN,NaN,40,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Non-Female,NaN,NaN,NaN,United-States,<=50K
freq,NaN,4879,NaN,2263,NaN,3277,911,2878,5990,4731,NaN,NaN,NaN,6233,5319
mean,38.596714,NaN,1.924335e+05,NaN,10.049857,NaN,NaN,NaN,NaN,NaN,1079.000429,84.970286,40.107143,NaN,NaN
std,13.745594,NaN,1.063365e+05,NaN,2.580982,NaN,NaN,NaN,NaN,NaN,7011.160679,400.142351,12.323946,NaN,NaN
min,17.000000,NaN,1.882700e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.202478e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.821170e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,47.000000,NaN,2.402370e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.268339e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [82]:
describe_vars = ['age', 'education-num', 'hours-per-week']
df_summ_selected = df[describe_vars].describe()
df_summ_selected

               age  education-num  hours-per-week
count  7000.000000    7000.000000     7000.000000
mean     38.596714      10.049857       40.107143
std      13.745594       2.580982       12.323946
min      17.000000       1.000000        1.000000
25%      28.000000       9.000000       40.000000
50%      37.000000      10.000000       40.000000
75%      47.000000      12.000000       45.000000
max      90.000000      16.000000       99.000000

## Step 2: Data Analytics Using Summary Statistics

In [83]:
df_summ

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7000.000000,7.000000e+03,7000.000000,7000.000000,7000.000000,7000.000000
mean,38.596714,1.924335e+05,10.049857,1079.000429,84.970286,40.107143
std,13.745594,1.063365e+05,2.580982,7011.160679,400.142351,12.323946
min,17.000000,1.882700e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.202478e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.821170e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.402370e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.268339e+06,16.000000,99999.000000,4356.000000,99.000000

### What is the 25th percentile of feature 'age'?

In [84]:
age_25p = df_summ.loc['25%']['age']
print(f"The 25th percentile of the feature 'age' is {age_25p}")

The 25th percentile of the feature 'age' is 28.0

### Which feature has the most variation?

In [85]:
df_summ.loc['std'].idxmax()

'fnlwgt'

In [86]:
df_summ.idxmax(axis = 1)['std']

'fnlwgt'

In [87]:
column_name = df_summ.loc['mean'].idxmax()
column_name

'fnlwgt'

### Do any features have negative values?

In [88]:
np.any(df_summ.loc['min'] < 0)

False

###  Which feature has the highest range?

In [89]:
column_ranges = df_summ.loc['max'] - df_summ.loc['min']
column_range_name = column_ranges.idxmax()
column_range_name

'fnlwgt'